.DS_Store
node_modules/
unpackage/
.hbuilderx/
dist/
*/*/dist/
*/*/*/dist/
src/manifest.json
src/version.js
site.zip


# 屏蔽iOS sdk app路径
app/iOS/SDK/
app/iOS/bohe/HBuilder-Hello/Pandora/apps/
app/iOS/bohe/HBuilder-Hello.xcodeproj/project.xcworkspace/xcuserdata/wujialei.xcuserdatad/

# 屏蔽android sdk app路径
app/andriod/SDK/
app/andriod/bohe/simpleDemo/src/main/assets/apps/
app/andriod/bohe/simpleDemo/build/
app/andriod/bohe/simpleDemo/release/
*/.idea
*/*/.idea
*/.gradle/
*/*/.gradle/
*/*/*/.gradle/


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
